body {
  padding: 0%;
  margin: 0%;

  background: linear-gradient(to right, #fd019c, #09d0eb, #ffd900);
}
section {
  width: 1625px;
  height: 686px;
  border-width: 9px;
  border-style: ridge;
  border-color: #4fd3c4;
  margin: 7%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 6%;
}
header {
  background-color: #ffe268;
  padding-top: 0%;
  height: 60px;
  background: linear-gradient(to right, #ec008c, #fc6767);
}
#intro h2 {
  width: 350px;
  height: 350px;
  background-color: #fee3ec;
  font-size: 45px;
  margin-left: 19%;
  font-family: italic;
  border-width: 2px;
  border-style: double;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}
#fullname {
  color: #fc2c55;
}
#homeimage {
  width: 318px;
  height: 318px;
  margin-left: 92%;
  padding: 0px;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  border-width: 2px;
  border-style: outset;
}

header {
  display: flex;
  justify-content: flex-end;
}
.buttonheader {
  background-color: white;
  border: 1px;
  color: black;
  padding: 5px 10px;
  margin: 15px 3px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: 50px;
  height: 20px;
}
.buttonheader1 {
  background-color: white;
  border: 1px;
  color: black;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: 50px;
  height: 20px;
  margin: 15px 3px;
}
.buttonheader2 {
  background-color: white;
  border: 1px;
  color: black;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: 50px;
  height: 20px;
  margin: 15px 3px;
}
.buttonheader:hover {
  background-color: #b1d0e0;
  color: black;
}
.buttonheader1:hover {
  background-color: #b1d0e0;
  color: black;
}
.buttonheader2:hover {
  background-color: #b1d0e0;
  color: black;
}
a {
  text-decoration: none;
}
section {
  background-color: #6867ac;
}
#licence {
  width: 350px;
  height: 260px;
  background-color: #fee3ec;
  font-size: 45px;
  left: 922px;
  font-family: italic;
  border-width: 2px;
  border-style: double;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  bottom: 390px;
  position: relative;
  font-size: 70px;
}
.lic {
  color: #fc2c55;
  font-family: italic;
}
#social {
  width: 665px;
  height: 70px;
  background-color: white;
  position: relative;
  bottom: 144px;
  left: 955px;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  border-width: 2px;
  border-style: double;
  background: linear-gradient(to right, #e6fc67, #21daeb);
}
#socialle {
  width: 629px;
  height: 70px;
  background-color: white;
  position: relative;
  bottom: 217px;

  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  border-width: 2px;
  border-style: double;
  background: linear-gradient(to right, #21daeb, #e6fc67);
  font-size: 35px;
}
.linkedin {
  color: black;
  font-size: 70px;
  margin-left: 70px;
  color: blue;
}
.github {
  color: black;
  font-size: 70px;
  margin-left: 310px;
  color: green;
}
.facebook {
  color: blue;
  font-size: 70px;
  margin-left: 70px;
  margin-top: 0%;
}

.instagram {
  color: red;
  font-size: 70px;
  margin-left: 300px;
}
@media only screen and (max-width: 700px) {
  section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  #head {
    flex-grow: 1;
  }
  .div {
    height: 100% !important;
    width: 100% !important;
    position: relative !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0px !important;
  }
}
